<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veganhouse">

    <!--    Permissão para usar internet no app                -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        android:usesCleartextTraffic="true"
    </application>

</manifest>